<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleIdentifier</key>
    <string>com.example.kotlin.kext</string>
    <key>CFBundleName</key>
    <string>KotlinExampleKext</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>IOKitPersonalities</key>
    <dict>
        <key>com.example.kotlin.kext</key>
        <dict>
            <key>IOProviderClass</key>
            <string>IOProviderClass</string>
            <key>IOClass</key>
            <string>KotlinExampleDriver</string>
            <key>IOProbeScore</key>
            <integer>100</integer>
        </dict>
    </dict>
</dict>
</plist>