[submodule "Kernel"]
	path = Kernel
	url = https://github.com/darwin-on-arm/xnu.git
[submodule "boot/maloader"]
	path = boot/maloader
	url = https://github.com/shinh/maloader.git
[submodule "libSystem"]
	path = libSystem
	url = https://github.com/apple-oss-distributions/Libsystem.git
	branch = rel/Libsystem-159
[submodule "libc"]
	path = libc
	url = https://github.com/apple-oss-distributions/Libc.git
	branch = rel/Libc-763
[submodule "CoreFoundation"]
	path = CoreFoundation
	url = https://github.com/gerickson/opencflite.git
[submodule "Tools/cctools"]
	path = Tools/cctools
	url = https://github.com/ravynsoft/cctools-port
[submodule "BuildHost/xar"]
	path = BuildHost/xar
	url = https://github.com/tpoechtrager/xar
[submodule "BuildHost/apple-libtapi"]
	path = BuildHost/apple-libtapi
	url = https://github.com/tpoechtrager/apple-libtapi.git
[submodule "BuildHost/xnu-deps-linux"]
	path = BuildHost/xnu-deps-linux
	url = https://github.com/b-man/xnu-deps-linux
[submodule "CoreOSMakefiles"]
	path = CoreOSMakefiles
	url = https://github.com/Darm64/CoreOSMakefiles
[submodule "Tools/dtc2adt"]
	path = Tools/dtc2adt
	url = https://github.com/darwin-on-arm/dtc-AppleDeviceTree
[submodule "Library/libDeviceBundle/libpbxparser"]
	path = Library/libDeviceBundle/libpbxparser
	url = https://github.com/abidon/libpbxparser
[submodule "boot/MegaBoot"]
	path = boot/MegaBoot
	url = https://github.com/ahisky/lk2nd-msm8937
