[submodule "boot/maloader"]
	path = boot/maloader
	url = https://github.com/shinh/maloader.git
[submodule "CoreFoundation"]
	path = CoreFoundation
	url = https://github.com/gerickson/opencflite.git
[submodule "Tools/cctools"]
	path = Tools/cctools
	url = https://github.com/ravynsoft/cctools-port
[submodule "BuildHost/xar"]
	path = BuildHost/xar
	url = https://github.com/tpoechtrager/xar
[submodule "BuildHost/apple-libtapi"]
	path = BuildHost/apple-libtapi
	url = https://github.com/tpoechtrager/apple-libtapi.git
[submodule "CoreOSMakefiles"]
	path = CoreOSMakefiles
	url = https://github.com/Darm64/CoreOSMakefiles
[submodule "Tools/dtc2adt"]
	path = Tools/dtc2adt
	url = https://github.com/darwin-on-arm/dtc-AppleDeviceTree
[submodule "Library/libDeviceBundle/libpbxparser"]
	path = Library/libDeviceBundle/libpbxparser
	url = https://github.com/abidon/libpbxparser
[submodule "boot/MegaBooter"]
	path = boot/MegaBooter
	url = https://github.com/msm8916-mainline/lk2nd
[submodule "boot/openmach"]
	path = boot/openmach
	url = https://github.com/openmach/openmach.git

[submodule "BuildHost/xnu-deps-linux"]
	path = BuildHost/xnu-deps-linux
	url = https://github.com/Darm64/xnu-deps-linux.git
